<div class="center-text">
    <h3>Contact Us</h3>
    <p>
        If you ever face any issues, do call our customer services hotline at 22339900 or through this email address gamers4lyfe@support.com.
    </p>
</div>

<style>
    .center-text{
        text-align: center;
    }
</style>